
@{
    ViewBag.Title = "Create";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div id="main-content">
    <div class="container-fluid">
        <div class="row">
            <div class="col-md-12">
                <!--Top header start-->
                <h3 class="ls-top-header">اضافة محافظه</h3>
                <!--Top header end -->
                <!--Top breadcrumb start -->
                <ol class="breadcrumb">
                    <li><a href="/Home/Index"><i class="fa fa-home"></i></a></li>
                    <li><a href="/Governorate/Index">الرئيسية</a></li>
                    <li class="active"><a href="/Governorate/Create">اضافة محافظه</a></li>
                </ol>
                <!--Top breadcrumb start -->
            </div>
        </div>
        <!-- Main Content Element  Start-->

        <div class="row">
            <div class="col-md-12">
                <div class="panel panel-default">
                    <div class="panel-heading">
                        <h3 class="panel-title">اضافة محافظه</h3>
                    </div>
                    <form id="AddNewGovernorate" action="/Governorate/Create" method="post" class="form-horizontal ls_form" enctype='multipart/form-data'>
                        <div class="panel-body form_view">
                            <div class="row ls_divider">
                                <div class="form-group">
                                    <label class="col-md-2 control-label">اسم المحافظه عربي</label>
                                    <div class="col-md-10">
                                        <input type="text"
                                               class="form-control validate[required] text-input"
                                               id="NameAr" name="NameAr" placeholder="ادخل اسم المحافظه عربي" required>
                                    </div>
                                </div>
                            </div>
                            <div class="row ls_divider">
                                <div class="form-group">
                                    <label class="col-md-2 control-label">اسم المحافظه إنجليزي</label>
                                    <div class="col-md-10">
                                        <input type="text"
                                               class="form-control validate[required] text-input"
                                               id="NameEn" name="NameEn" placeholder="ادخل اسم المحافظه إنجليزي" required>
                                    </div>
                                </div>
                            </div>

                            <div class="form-group" style=" margin: 20px 30px 40px 50px; ">
                                <button class="submit btn-primary btn" type="submit" name="submit">حفظ</button>
                            </div>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>
